<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<meta name="author" content="alexh" />
<meta name="description" content="Tisch-Moderation." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"
	charset="utf-8"></script>


<title>Tisch-Moderation</title>
<link rel="stylesheet" type="text/css"
	href="css/moderation/moderation.css">
</head>



<body ng-app="moderation" ng-cloak class="ng-cloak">


    <h1 class="titel">Moderation</h1>


	<div ng-controller="eventmanager as ctrl" class="wrapper">

		<form class="formwrapper">

			<div id="buttons">
				<button ng-click="ctrl.createNewEvent()">New</button>
				<button ng-click="ctrl.submitCurrentEvent()">Send</button>
			</div>
			<!--buttons-->

			<div id="container">

				<div id="left" class="column">
					<label>Workshop</label> <br>

					<ul>
						<li ng-repeat="workshop in ctrl.workshops">{{workshop.name}}</li>
					</ul>
				</div>
				<!--left-->

				<div id="center-l" class="column">
					<label>Jahr</label> <input ng-model="ctrl.currentEvent.year"
						name="jahr" id="jahr">
					<label>Headline</label> <input ng-model="ctrl.currentEvent.title"
						name="headline" id="headline"> <label>Content</label>
					<textarea ng-model="ctrl.currentEvent.content" name="content"></textarea>
					<label>Notes</label>
					<textarea ng-model="ctrl.currentEvent.notes" name="notes"></textarea>
					<input name="status" class="checkbox" type="checkbox" ng-click="">
					<label class="checkbox">Don't show on table</label>
				</div>
				<!--center-l-->

				<div id="center-r" class="column">
					<label>aktuelles Bild</label> <img
						ng-show="ctrl.currentEvent.imageName"
						ng-src="{{ctrl.resolveImageUrl(ctrl.currentEvent.imageName)}}"
						alt=""> <label>Bilder</label>
					<div id="image-select">

						<img ng-repeat="image in ctrl.images"
							ng-src="{{ctrl.resolveImageUrl(image.imageName)}}"
							ng-click="ctrl.setImageForCurrentEvent(image.imageName)">

					</div>
					<!--image-select-->
					<button ng-click="ctrl.update()">Update</button>
				</div>
				<!--center-r-->

				<div id="right" class="column">

					<label>Event Liste</label>

					<div id="events">
						<ul>
							<li ng-class="{selected : ctrl.currentEvent.id == event.id}" ng-repeat="event in ctrl.events"
								ng-click="ctrl.setCurrentEvent(event)">{{event.title}}</li>
						</ul>
					</div>



				</div>
				<!--right-->


			</div>
			<!--container-->

		</form>
	</div>
</body>



<script src="js/moderation/moderation.js"></script>
<script src="js/moderation/restclient.js"></script>


</html>
