<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<meta name="author" content="alexh" />
<meta name="description" content="Tisch-Moderation." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"
	charset="utf-8"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js" charset="utf-8"></script>


<title>Tisch-Moderation</title>
<link rel="stylesheet" type="text/css"
	href="css/moderation/moderation.css">
</head>



<body ng-app="moderation" ng-cloak class="ng-cloak">


    <h1 class="titel">Moderation</h1>


	<div ng-controller="eventmanager as ctrl" class="wrapper">

		<form class="formwrapper" name="ctrl.eventform" novalidate>

			<div id="buttons">
				<button type="button" ng-click="ctrl.editNewEvent()" formnovalidate>Neues Event ersetellen</button>
				<button type="submit" ng-click="ctrl.submitCurrentEvent()" value="E">Event speichern</button>
			</div>
			<!--buttons-->

			<div id="container">

				<div id="left" class="column">
					<label>Workshop</label> <br>

					<ul>
						<li ng-repeat="workshop in ctrl.workshops" 
							ng-click="ctrl.setWorkshopForCurrentEvent(workshop.value)" 
							ng-class="{selected : workshop.value == ctrl.currentEvent.workshopId}">
							{{workshop.name}}
						</li>
					</ul>
					
					<div ng-if='ctrl.eventform.$submitted && ctrl.currentEvent.workshopId===0'>
        				    <p><span style="color:red">Bitte einen Workshop auswählen.</span></p>
    				</div>
				</div>
				<!--left-->

				<div id="center-l" class="column">
					<label>Jahr</label> 
						    <select name="repeatSelect" class="dateSelect" ng-model="ctrl.currentEvent.year"
						    ng-options="year for year in ctrl.years">
    						</select>
							<select name="repeatSelect" class="dateSelect" ng-model="ctrl.currentEvent.month"
							ng-options="month for month in ctrl.months">
    						</select>
    						<select name="repeatSelect" class="dateSelect" ng-model="ctrl.currentEvent.day"
    						ng-options="day for day in ctrl.days">
    						</select>
					
					
					<!--<input name="year" ng-model="ctrl.currentEvent.year"
						name="jahr" id="jahr" ng-pattern="ctrl.onlyNumbers" ng-minlength="4" ng-maxlength="4" > -->
						
						<div ng-messages="ctrl.eventform.year.$error">
						    <p ng-message="pattern"><span style="color:red">Kein gültiges Jahr.</span></p>
        					<p ng-message="minlength"><span style="color:red">Das Jahr muss mindestens 4 Stellen haben.</span></p>
        					<p ng-message="maxlength"><span style="color:red">Das Jahr darf maximal 4 Stellen haben.</span></p>
    					</div>
						
				
					<label>Überschrift</label> <input ng-model="ctrl.currentEvent.title"
						name="headline" id="headline" required ng-maxlength="60"> 
						
						<div ng-messages="ctrl.eventform.headline.$error" ng-if='ctrl.eventform.$submitted'>
        				    <p ng-message="required"><span style="color:red">Bitte eine Überschrift angeben.</span></p>
    					</div>
    					
    					<div ng-messages="ctrl.eventform.headline.$error">
        					<p ng-message="maxlength"><span style="color:red">Es sind maximal 60 Zeichen erlaubt.</span></p>
    					</div>
						
						
					<label>Inhalt</label>
					<textarea ng-model="ctrl.currentEvent.content" name="content"></textarea>
					<label>Notizen</label>
					<textarea ng-model="ctrl.currentEvent.notes" name="notes"></textarea>
					<input name="status" class="checkbox" type="checkbox" ng-model="ctrl.currentEvent.status" ng-true-value="'DELETED'" ng-false-value="'NEWEVENT'">
					<label class="checkbox">Nicht auf dem Tisch anzeigen</label><br>
					<label class="checkbox">Status : {{ctrl.currentEvent.status}}</label>
					
				</div>
				<!--center-l-->

				<div id="center-r" class="column">
					<label>Aktuelles Bild</label> <img
						ng-show="ctrl.currentEvent.imageName"
						ng-src="{{ctrl.resolveImageUrl(ctrl.currentEvent.imageName)}}"
						alt=""> 
						
					<div ng-if='!(ctrl.currentEvent.imageName===null)'>
					<button type="button" ng-click="ctrl.deleteImage()">Bild löschen</button>
					</div>
					
					<label>Bilder</label>
					<div id="image-select">

						<img ng-repeat="image in ctrl.images"
							ng-src="{{ctrl.resolveImageUrl(image.imageName)}}"
							ng-click="ctrl.setImageForCurrentEvent(image.imageName)">

					</div>
					<!--image-select-->
					<button type="button" ng-click="ctrl.update()">Update</button>
				</div>
				<!--center-r-->

				<div id="right" class="column">

					<label>Event Liste</label>

					<div id="events">
						<ul>
							<li ng-class="{selected : ctrl.currentEvent.id == event.id}" ng-repeat="event in ctrl.events"
								ng-click="ctrl.setCurrentEvent(event)">{{event.title}}</li>
						</ul>
					</div>



				</div>
				<!--right-->


			</div>
			<!--container-->

		</form>
	</div>
</body>



<script src="js/moderation/moderation.js"></script>
<script src="js/moderation/restclient.js"></script>


</html>
