<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<meta name="author" content="alexh" />
<meta name="description" content="Tisch-Moderation." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"
	charset="utf-8"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"
	charset="utf-8"></script>


<title>Tisch-Protokoll</title>
<link rel="stylesheet" type="text/css"
	href="css/moderation/moderation.css">
</head>



<body ng-app="protocoll" ng-cloak class="ng-cloak">


	<h1 class="titel">Protokoll</h1>


	<div ng-controller="protocollmanager as ctrl" class="wrapper">

					<form class="formwrapper" name="ctrl.protocollform"
						ng-submit="ctrl.submitSentence()" novalidate
						style="width: 1000px; margin: 0 auto;" align="center">

						<td><input ng-model="ctrl.sentence.content" name="sentence"
							id="headline" required ng-maxlength="256"
							style="font-size: 12pt; width: 1000px;" align="middle"> 
							<br>
							<input type="submit" value="Absenden" style="font-size: 12pt; width: 1000px;" align="middle">

							<div ng-messages="ctrl.protocollform.sentence.$error"
								ng-if='ctrl.protocollform.$submitted'>
								<p ng-message="required">
									<span style="color: red">Bitte einen Satz eingeben.</span>
								</p>
							</div>

							<div ng-messages="ctrl.protocollform.sentence.$error">
								<p ng-message="maxlength">
									<span style="color: red">Es sind maximal 256 Zeichen
										erlaubt.</span>
								</p>
							</div></td>
					</form>

	</div>
</body>



<script src="js/protocoll/protocoll.js"></script>
<script src="js/protocoll/restclient.js"></script>


</html>
