<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<meta name="author" content="alexh" />
<meta name="description" content="Tisch-Moderation." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="js/libs/jquery-1.10.1.min.js"></script>
<link rel="stylesheet"
	href="js/libs/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
<script
	src="js/libs/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<script
	src="js/libs/angular.js"
	charset="utf-8"></script>
<script
	src="js/libs/angular-messages.js"
	charset="utf-8"></script>


<title>Table-Protocoll</title>
<link rel="stylesheet" type="text/css"
	href="css/protocoll/protocoll.css">
</head>



<body ng-app="protocoll" ng-cloak class="ng-cloak">


	<h1 class="titel">Protocoll</h1>


	<div ng-controller="protocollmanager as ctrl" class="wrapper">

		<div id="container">

			<div  id="headline">
				<label>Workshop</label> <br>
			</div>
			<!--left-->
	<div id="left">
			<ul  class='selection'>
				<li ng-repeat="workshop in ctrl.workshops"
					ng-click="ctrl.setWorkshopForCurrentSentence(workshop.value)"
					ng-class="{selected : workshop.value == ctrl.sentence.workshopId}">
					{{workshop.name}}</li>
			</ul>

			<div
				ng-if='ctrl.protocollform.$submitted && ctrl.sentence.workshopId===0'>
				<p>
					<span style="color: red">Please select a workshop.</span>
				</p>
			</div>
</div>

			<div id="right" class="column">

				<form class="formwrapper" name="ctrl.protocollform"
					ng-submit="ctrl.submitSentence()" novalidate
					style="width: 100%; margin: 0 auto;" align="center">

					<td><input ng-model="ctrl.sentence.content" name="sentence"
						id="headline" required ng-maxlength="256"
						style="font-size: 12pt; width: 100%;" align="middle"> <br>
						<input type="submit" value="Send"
						style="font-size: 12pt; width: 100%;" align="middle">

						<div ng-messages="ctrl.protocollform.sentence.$error"
							ng-if='ctrl.emptySentenceError'>
							<p ng-message="required">
								<span style="color: red">Please enter a sentence.</span>
							</p>
						</div>

						<div ng-messages="ctrl.protocollform.sentence.$error">
							<p ng-message="maxlength">
								<span style="color: red">Only 256 characters allowed.</span>
							</p>
						</div></td>
				</form>
			</div>

		</div>
	</div>
</body>



<script src="js/protocoll/protocoll.js"></script>
<script src="js/protocoll/restclient.js"></script>


</html>
